@model IEnumerable<Lcw_GraduationProject.UI.Models.Offer.VM_Get_OfferDetail>

@{
    ViewData["Title"] = "OthersOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OthersOffers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Approve Offer", "ApproveOffer","Offer", new { id=item.Id }) |
                @Html.ActionLink("Reject Offer", "WithdrawOffer","Offer", new { id=item.Id}) |
            </td>
        </tr>
}
    </tbody>
</table>
